.hide-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}

.line-div {
  width: 100%;
  display: 'inline-block';
  overflow: 'scroll';
  white-space: nowrap;
  user-select: text;
  cursor: text;
}